/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe
/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe.config
/ConsoleApplication1/bin/Debug/ConsoleApplication1.pdb
/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe
/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe.config
/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe.manifest
/ConsoleApplication1/bin/Debug/StructureMap.Net4.dll
/ConsoleApplication1/bin/Debug/StructureMap.Net4.pdb
/ConsoleApplication1/bin/Debug/StructureMap.dll
/ConsoleApplication1/bin/Debug/StructureMap.pdb
/ConsoleApplication1/bin/Debug/StructureMap.xml
/ConsoleApplication1/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
/ConsoleApplication1/obj/Debug/ConsoleApplication1.csprojResolveAssemblyReference.cache
/ConsoleApplication1/obj/Debug/ConsoleApplication1.exe
/ConsoleApplication1/obj/Debug/ConsoleApplication1.pdb
/ConsoleApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/structuremap.4.0.1.318/lib/dotnet/StructureMap.dll
/packages/structuremap.4.0.1.318/lib/dotnet/StructureMap.pdb
/packages/structuremap.4.0.1.318/lib/net40/StructureMap.Net4.dll
/packages/structuremap.4.0.1.318/lib/net40/StructureMap.Net4.pdb
/packages/structuremap.4.0.1.318/lib/net40/StructureMap.dll
/packages/structuremap.4.0.1.318/lib/net40/StructureMap.pdb
/packages/structuremap.4.0.1.318/lib/net40/StructureMap.xml
/packages/structuremap.4.0.1.318/lib/portable-net40+wp8+win8/StructureMap.dll
/packages/structuremap.4.0.1.318/lib/portable-net40+wp8+win8/StructureMap.pdb
/packages/structuremap.4.0.1.318/lib/portable-net40+wp8+win8/StructureMap.xml
/packages/structuremap.4.0.1.318/lib/portable-net45+wp81+win81/StructureMap.dll
/packages/structuremap.4.0.1.318/lib/portable-net45+wp81+win81/StructureMap.pdb
/packages/structuremap.4.0.1.318/lib/portable-net45+wp81+win81/StructureMap.xml
/packages/structuremap.4.0.1.318/structuremap.4.0.1.318.nupkg
/.vs/ConsoleApplication1/v14/*.suo
/*.suo
